.portfolioContainer {
  background-color: var(  --colorBackground);
  padding: 10%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex;
  color: #767676;
  .aboutSection {
    display: flex;
  }
  .profileDescription {
    color: #767676;
    font-weight: 500;
  }
  .profileName {
    color: var( --colorHeader);
  }
  .about {
    color:  var( --colorHeader);
  }
  .column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
  }
  .about {
    margin-bottom: 15px;
  }
  .detail {
    display: flex;

    span {
      margin-right: 20px;
    }
    .detailQuestion {
      margin-right: 10px;
      font-weight: 700;
      color:var( --colorHeader);
      min-width: 100px;
    }
    .detailAnswer {
      font-family: Mulish;
      font-size: 15px;
      line-height: 30px;
      letter-spacing: 0.5px;
      word-wrap: break-word;
      font-weight: 400;
      color: #767676;
    }
  }
  .downloadButton {
    background: var(--colorHeader);
    color: var(--buttonFontcolor);
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 11px 40px;
    border: none;
    transition: all 0.3s ease;
  }
  .profileSection {
    text-align: justify;
    margin-bottom: 30px;
  }
  .separator {
    height: 1px;
    background-color: #323232;
    margin: 10px 0;
  }
  .skillsSection {
    margin-top: 20px;
    padding: 5%;

    .skillsSectionInner {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .sepColumn {
        width: 45%;
      }
    }
    .skillsHeader {
      // Your styles for the skills header
    }
    .skill {
      // Your styles for each skill
      .skillName {
        // Your styles for the skill name
      }
      .progressBarContainer {
        width: 100%; // Ensure the container takes the full width
        background-color: #323232; // Background color of the progress bar container
      }
      .progressBar {
        height: 2px; // Set the height of the progress bar
        background-color: #7b7b7b; // Color of the filled portion of the progress bar
        text-align: center; // Center the text inside the progress bar

        .progressText {
          color: white; // Text color of the percentage
          line-height: 20px; // Match the line height with the height of the progress bar
        }
      }
    }
  }
}
.skillsSection {
  background-color:var(--buttonFontcolor);
  color: var( --generalFontColor);
  .skillsHeader {
    color:var(--colorHeader);
  }
}
.nameNcent {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px 10px 5px;
}

.KnowledgeSection {
  height: 250px;

  flex-wrap: wrap;
  .icon{
    color:white
  }
  .skillsHeader {
    color: var(--colorHeader);
  }
  ul {
    list-style: none; /* Remove default list style (bullet point) */
    padding: 0; /* Remove default padding */
  }

  li {
    padding-left: 20px; /* Add some padding to the left to make space for the arrow */
    position: relative;
    margin-bottom: 8px;
    display: flex;
 
    align-items:center; 
    .icon{
    margin-right: 8px;
    font-size: 8px;
  }
  }

  .listSeperator {
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    
  }
}
