.portfolioContainer {
  background-color: #111;
  color: #bbb;
  padding: 10%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex;
  //   justify-content: center;
  .aboutSection{
    display: flex;
  }
  .column{
    margin:3%  30% 3% 0%;
  }
  .about {
    margin-bottom: 15px;
  }
  .downloadButton {
    background: #fff;
    color: #000;
    margin-bottom: 15px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    padding: 11px 40px;
    transition: all 0.3s ease;
  }
  .profileSection {
    text-align: justify;
    margin-bottom: 30px;
  }
  .separator {
    height: 1px;
    background-color: #323232; 
    margin: 10px 0;
  }
  .skillsSection {
    margin-top: 20px;

    .skill {
      margin-bottom: 10px;

      .skillName {
        display: inline-block;
        width: 100px;
      }

      .progressBar {
        height: 4px;
        background-color: #444;
        width: 0;
        transition: width 0.5s ease-in-out;
      }
    }
  }
}
