.card {
  margin: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s;

  max-height: 400px;
  width: 100%;
  background-color: var(--cardBackgroundColor);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;

  @media (min-width: 200px) and (max-width: 600px) {
    width: 95%;
    margin:0px 4px 12px 0px;
    // margin: 8PX; // Two cards in a row
  }
  @media (min-width: 600px) {
    width: 100%; // Two cards in a row
  }

  @media (min-width: 768px) {
    width: 37.33%; // Three cards in a row
  }
  @media (min-width: 1100px) {
    width: 40%; // Three cards in a row
  }
  @media (min-width: 1200px) {
    width: 25.33%; // // Three cards in a row
  }
  .cardImage {
    width: 100%; /* Make the image full width */
    height: 150px; /* Maintain the aspect ratio */
    object-fit: cover; /* Cover the area without stretching */
    border-top-left-radius: 10px; /* Optional: match the card's border-radius */
    border-top-right-radius: 10px; /* Optional: match the card's border-radius */
    margin-bottom: 16px; /* Space between the image and the description */
  }
  .cardImage::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2); /* Semi-transparent black overlay */
    border-top-left-radius: 10px; /* Optional: match the card's border-radius */
    border-top-right-radius: 10px; /* Optional: match the card's border-radius */
  }
  .modalImage {
    width: 100%; /* Make the image full width */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure the image covers the div without stretching */
    border-top-left-radius: 8px; /* Optional: match the modal's border-radius */
    border-top-right-radius: 8px; /* Optional: match the modal's border-radius */
    margin-bottom: 16px; /* Space between the image and the content */
  }
  .hoverScroll {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    position: relative;
    overflow: hidden;
  }
  &:hover {
    .readMoreIndicator span {
      transform: translateX(0%);
    }

    .readMoreIndicator:before {
      justify-content: left;
      animation: read-more-anim-2;
      animation-fill-mode: forwards;
      animation-duration: 0.4s;
      animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
    }
  }

  .readMoreIndicator:before {
    position: absolute;
    content: "";
    background-color: var(--colorHeader);
    margin: auto;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    transform: scaleX(0.2);
    transform-origin: left center;
    animation: read-more-anim;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
  }
  .readMoreIndicator span {
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
    transform: translateX(-110%);
  }
  .readMoreIndicator {
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
    color: var(--colorHeader);
    padding-right: 32px;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    font-family: montserrat;
    cursor: pointer;
  }

  .header {
    display: flex;
    align-items: center;

    .heading {
      font-weight: 700;
      color: var(--colorHeader);
      font-size: 18px;
      margin-bottom: 15px;
    }
  }

  .description {
    color: var(--cardDescription);
    text-align: left;
    text-justify: inter-word;
    line-height: 1.8;
  }
  .overlayTrigger {
    cursor: pointer;
  }

  .overlayTrigger {
    cursor: pointer;
  }

  .modalOverlay {
    position: fixed; // Use `fixed` instead of `absolute` to cover the entire viewport
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow-y: auto; // Enable scroll on the overlay if the content is larger than the screen
  }

  .modalContent {
    color: #f5f5f5;
    padding: 20px;
    max-height: 80vh;
    border-radius: 8px;
    width: 90%; // Start with a high percentage for smaller devices
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 20px; // Margin to avoid touching the viewport edges
    background: var(--modalBackgroud);
    .modalHeader {
      display: flex;
      color: var(--generalFontColor);
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      h2{
        margin-right: 4px;
      }
    }
    .modalBody {
      p {
        margin-top: 16px;
        line-height: 1.6;
      }
      color: var(--colorHeader);
    }
  }

  @media (min-width: 392px) {
    .modalContent {
      width: 80%; // Slightly larger screens can accommodate a wider modal
    }
  }

  @media (min-width: 600px) {
    .modalContent {
      width: 70%; // Further increase the width for larger devices
    }
  }

  @media (min-width: 768px) {
    .modalContent {
      width: 60%;
       // Suitable width for tablets and small desktop screens
      padding: 32px; // Increase padding for larger screens
    }
  }
  @media (max-width: 768px) {
    .modalHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    .readMoreIndicator span {
      background-color: var(--cardBackgroundColor);
      transform: translateX(0);
    }

    .closeButton {
      cursor: pointer;
      font-size: 24px;
      color: var(--generalFontColor);
      border: none;
      background: none;
    }

    .modalBody {
      p {
        margin-top: 16px;
        line-height: 1.6;
      }
    }

    .modalFooter {
      margin-top: 24px;
      display: flex;
      justify-content: center;

      .socialIcons {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          margin: 0 8px;
          font-size: 20px;
          color: var(--colorHeader);

          &:hover {
            color: #999;
          }
        }
      }
    }

    // Responsive adjustments
    @media (min-width: 768px) {
      .modalContent {
        width: 60%;
      }
    }
  }
  @keyframes read-more-anim-2 {
    0% {
      transform-origin: left center;
      transform: scaleX(0.2);
    }
    70% {
      transform-origin: left center;
      transform: scaleX(1);
    }
    71% {
      transform-origin: right center;
    }
    100% {
      transform-origin: right center;
      transform: scaleX(0.2);
    }
  }
}
