/* src/components/ProfileDetails.module.scss */
.profileDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  color: white;
  background-color: var(--colorBackground);
  animation: slideInRight 2s ease forwards;
}
.outerContainer {
  display:  flex;
  /* or keep fit-content if it works as expected */
  align-items: center;
}
// .profile {
//   display: flex;
//   align-items: center;
//   background-color: green;
//   margin-right: 5%;
// }

.profilePictureContainer {
  position: relative;
  border-radius: 100%;
  min-width: 40%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture {
  background-image: url("../images/blacknwhite.jpg");
  position: absolute;
  height: 235px;
  width: 270px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-size: 150%;
  animation: morph 8s ease-in-out 1s infinite;
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 9px hsla(0, 1%, 20%, 0.3);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  overflow: hidden;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    transparent 95%,
    hsl(180, 6%, 6%) 51%
  );
  // top: -8.5%;
  left: -4.5%;
  border-radius: 44%;
  border: 8px solid #9a9898;
  animation: moveProfilePicture 12s infinite alternate;
}

@keyframes moveProfilePicture {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.portfolioDetails {
  max-width: 55%;
  p {
    max-width: 78%;
  }
}
h1 {
  font-weight: 10000;
  font-style: bold;
  font-family: "Montserrat", sans-serif;
  margin: 0px 0px 15px 0px;
  color: var(--colorHeader);
}
/* Additional styling for text content */
p {
  margin: 0px 0px 15px 0px;
  color: var(--aboutParacolor);
}

.typeWriterDiv {
  min-height: 35px;
  margin: 0px 0px 15px 0px;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-20%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .outerContainer {
    flex-direction: column; // Stack elements vertically
    height: auto; // Adjust height to content
  }

  .profilePictureContainer {
    min-width: 00px;
    min-height: 00px;
    max-height: 300px; // Adjust picture container height
  }

  .profilePicture {
    height: 180px; // Adjust picture size
    width: 180px; // Adjust picture size
  }

  .portfolioDetails {
    max-width: 90%; // Adjust width to the viewport

    h1 {
      font-size: 1.5rem; // Adjust heading size
    }

    p {
      font-size: 0.9rem; // Adjust paragraph size
    }
  }
}
@media (min-width: 1024px) and (max-width: 1124px) {
  .profileDetails {
    margin-top: 180px;
  }
}
// Medium devices (tablets)
@media (min-width: 601px) and (max-width: 1124px) {
  
  .outerContainer {
    flex-direction: column;
    // ... adjustments for tablets
  }

  .profilePictureContainer {
    min-width: 60%; // Adjust for tablet screens
    max-height: 40px;
    min-height: 40px;
    margin-bottom: 150px;
    position: relative;
    // Adjust for tablet screens
  }

  .portfolioDetails {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 2rem; // Adjust for tablet screens
    }

    p {
      font-size: 1rem; // Adjust for tablet screens
    }
  }
}

// Smaller devices (phones)
@media (max-width: 600px) {
  .outerContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center; // Stack elements vertically
    height: auto; // Adjust height to content
  }

  .profilePictureContainer {
    min-width: 80%; // Adjust picture container size
    min-height: 290px; // Adjust picture container height
  }

  .profilePicture {
    height: 180px; // Adjust picture size
    width: 180px; // Adjust picture size
  }

  .portfolioDetails {
    max-width: 90%; 
    display: flex;
    flex-direction: column;
    text-align: center;// Adjust width to the viewport
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 1.5rem; // Adjust heading size
    }

    p {
      font-size: 0.9rem; // Adjust paragraph size
    }
  }
}
