.projects {
  
    display:flex;
    flex-direction: column;
    justify-content:flex-start ;
    width: 100%;
    background-color: var( --colorBackground);
    padding:10% 2% 10% 10%;
    .cardList{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    h2{
        color:var(--colorHeader)
    }
    & > *:not(:last-child) {
        margin-right: 16px; /* Adjust the margin as needed */
    }
  }